<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">

        <div class="navbar-header">
            <a class="navbar-brand" href="#">
                <span class="glyphicon glyphicon glyphicon-tree-deciduous"></span>
            Witaj <%= user.local.email %> </br>
            </a>
            
        </div>

        <ul class="nav navbar-nav">
            <li><a href="/">Strona główna</a></li>
            <li><a href="/student">Profil</a></li>
            <li><a href="/course">Przegladaj kursy</a></li>
            <li><a href="/joinedcourses">Zapisane kursy</a></li>
            <li><a href="/studentaccount">Konto</a></li>
            <li><a href="/contact">Kontakt</a></li>
            <li><a href="/logout">Wyloguj</a></li>
            
            
        </ul>
         
    </div>
</nav>