<link href="../css/glyphicon.css" rel="stylesheet" type="text/css" />

<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">

        <div class="navbar-header">
            <a class="navbar-brand" href="/teacher">
                <span class="glyphicon glyphicon-user"><p id="icon">Witaj <%= user.local.email %></</span>
            </a>
        </div>

        <ul class="nav navbar-nav">
            <li><a href="/">Strona główna</a></li>
            <li><a href="/teacher">Profil</a></li>
            <li><a href="/addcourse">Dodaj Kurs</a></li>
<<<<<<< HEAD
=======
            <li><a href="/mycourses">Moje Kursy</a></li>
>>>>>>> 66289ee0711b7e96df8fef4dd5294f0131727ecf
            <li><a href="/teacheraccount">Konto</a></li>
            <li><a href="/contactTeacher">Kontakt</a></li>
            <li><a href="/logout">Wyloguj</a></li>
            
        </ul>
      
    </div>
</nav>