<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">

        <div class="navbar-header">
            <a class="navbar-brand" href="#">
                <span class="glyphicon glyphicon glyphicon-tree-deciduous"></span>
            Witaj <%= user.local.email %> </br>
            </a>
            
        </div>

        <ul class="nav navbar-nav">
            
            <li><a href="/studentaccount">Profil</a></li>
            <li><a href="/coures">Kursy</a></li>
            <li><a href="/account">Konto</a></li>
            <li><a href="/contact">Kontakt</a></li>
            <li><a href="/logout">Wyloguj</a></li>
            
            
        </ul>
         
    </div>
</nav>