<link href="../css/glyphicon.css" rel="stylesheet" type="text/css" />

<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">

        <div class="navbar-header">
            
            <a class="navbar-brand" href="/student">
             
           <span class="glyphicon glyphicon-user"><p id="icon">Witaj <%= user.local.email %></</span>
           
            </a>
            
        </div>

        <ul class="nav navbar-nav">
            <li><a href="/">Strona główna</a></li>
            <li><a href="/teachers">Nauczyciele</a></li>
            <li><a href="/opinions">Moje Opinie</a></li>
            <li><a href="/student">Profil</a></li>
            <li><a href="/course">Przegladaj kursy</a></li>
            <li><a href="/joinedcourses">Zapisane kursy</a></li>
            <li><a href="/studentaccount">Konto</a></li>
            <li><a href="/contact">Kontakt</a></li>
            <li><a href="/logout">Wyloguj</a></li>
            
            
        </ul>
         
    </div>
</nav>