<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">

        <div class="navbar-header">
            
            <a class="navbar-brand" href="#">
              <span class="glyphicon glyphicon glyphicon-tree-deciduous"><p id="logged"><%= data %></</span> 
           
           
            </a>
            
        </div>

        <ul class="nav navbar-nav">
            
            <li> <a id="login" href="/login">Login</a></li>
            
            <li><a href="/teacher">Teacher</a></li>
            <li><a href="/course">Our Courses</a></li>
            <li><a href="/search">Search</a></li>
        
            
        </ul>
         
    </div>
</nav>