<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Add Course</title>
    <% include ./partials/headTeacher.ejs %>

</head>


<body class="container">
    <header>
        <% include ./partials/headerTeacher.ejs %>
    </header>
    <form action="/newcourse" method="post">
        <div>
            <label>Course Name</label>
            <input type="text" name="courseName">
        </div>
        <br>
        <div>
            <select name="education-level">
                <option value="podstawowa">Szkoła podstawowa</option>
                <option value="gimnazjum">Gimnazjum</option>
                <option value="liceum">Liceum</option>
                <option value="technikum">Technikum</option>
                <option value="zawodowa">Szkoła zawodowa</option>
                <option value="studia">Studia</option>
            </select>
        </div>
        <br>
        <div>
            <label>Subject</label>
            <select name="Subject" id="Subject">
                <option value="Język polski">Język polski</option>
                <option value="Język angielski">Język angielski</option>
                <option value="Język niemiecki">Język niemiecki</option>
                <option value="Język rosyjski">Język rosyjski</option>
                <option value="Matematyka">Matematyka</option>
                <option value="Chemia">Chemia</option>
                <option value="Fizyka">Fizyka</option>
                <option value="Biologia">Biologia</option>
                <option value="Historia">Historia</option>
                <option value="Geografia">Geografia</option>
                <option value="Sztuka">Sztuka</option>
                <option value="Religia">Religia</option>
                <option value="WOS - Wiedza o społeczeństwie">WOS - Wiedza o społeczeństwie</option>
                <option value="Informatyka">Informatyka</option>
                <option value="Wychowanie fizyczne">Wychowanie fizyczne</option>
            </select>
        </div>
        <br>
        <div>
            <label>Description</label>
            <textarea rows="4" cols="40" name="courseDescription">Please add some description</textarea>
        </div>
        <button type="submit">Add</button>
    </form>
    <br>

    <li><a href="/">Back</a>
    </li>

    <footer>
        <% include ./partials/footer.ejs %>
    </footer>
</body>

</html>