<!doctype html>
<html>
<head>
    <title>Home page</title>
        <link href="../css/main.css" rel="stylesheet" type="text/css" />
   <% include /partials/headerIndex.ejs %>  
</head>
<body>
   <header>   <% include /partials/headIndex.ejs %> </header>
    <div class="jumbotron">
    Nie masz jeszcze konta? Zarejestruj się!</br>
    <a id="register" href="/register">Register</a>
    </div>
</body>
<script src="/js/jquery.min.js"></script>
<script src="../scripts/main.js"></script>
</html>