<!doctype html>
<html>

<head>
    <title>Home page</title>
</head>

<body>
    <div>
        <a id="login" href="/login">Login</a>
        <a id="register" href="/register">Register</a>
        <p id="logged">
            <%=data %>
        </p>
        <a href="/student">Student</a>
        <a href="/teacher">Teacher</a>
        <a href="/course">Our Courses</a>
        <a href="/search">search</a>
    </div>
</body>

</html>