<!doctype html>
<html>

<head>
    <title>Login page</title>
    <link href="../css/login.css" rel="stylesheet" type="text/css" />
</head>

<body>
    <h1>Login</h1>
    <% if(message.length> 0) { %>
        <!-- bajerek dla ejsa, ogolnie jak bedzie error w loginie to tutaj pojdzie render -->
        <div>
            <%=message %>
        </div>
        <% } %>

            <form action="/login" method="post">
                <div>
                    <label>Email</label>
                    <input type="text" name="email">
                </div>
                <div>
                    <label>Password</label>
                    <input type="password" name="password">
                </div>
                <button type="submit">Login</button>
            </form>

            <p>Don't have an account? <a href="/register">Register</a> </p>
</body>

</html>