<!doctype html>
<html>
<head>
    <title>Register page</title>
    <meta charset="ISO-8859-1">
</head>
<body>
    <h1>Register</h1>
    <% if(message.length > 0) { %> <!-- bajerek dla ejsa, ogolnie jak bedzie error w loginie to tutaj pojdzie render -->
        <div><%= message %></div>
    <% } %>

    <form action="/register" method="post">
        <div>
            <label>Role</label>
            <select>
                <option value="student">Student</option>
                <option value="teacher">Teacher</option>
            </select>
        </div>
        <div>
            <label>City</label>
            <select>
                <option value="Alwernia">Alwernia</option>
                <option value="Andrychow">Andrychow</option>
                <option value="Annopol">Annopol</option>
                <option value="Augustow">Augustow</option>
                <option value="Babimost">Babimost</option>
                <option value="Baborow">Baborow</option>
                <option value="Barcin">Barcin</option>
                <option value="Barczewo">Barczewo</option>
                <option value="Barlinek">Barlinek</option>
                <option value="Bartoszyce">Bartoszyce</option>
                <option value="Barwice">Barwice</option>
                <option value="Belchatow">Belchatow</option>
                <option value="Belzyce">Belzyce</option>
                <option value="Bedzin">Bedzin</option>
                <option value="Bialobrzegi">Bialobrzegi</option>
                <option value="Bialogard">Bialogard</option>
                <option value="Bialystok">Bialystok</option>
                <option value="Biecz">Biecz</option>
                <option value="Bielawa">Bielawa</option>
                <option value="Bielsko-Biala">Bielsko-Biala</option>
                <option value="Bierun">Bierun</option>
                <option value="Bierutow">Bierutow</option>
                <option value="Biezun">Biezun</option>
                <option value="Bilgoraj">Bilgoraj</option>
                <option value="Biskupiec">Biskupiec</option>
                <option value="Bisztynek">Bisztynek</option>
                <option value="Blachownia">Blachownia</option>
                <option value="Blaszki">Blaszki</option>
                <option value="Blazowa">Blazowa</option>
                <option value="Blonie">Blonie</option>
                <option value="Bobolice">Bobolice</option>
                <option value="Bochnia">Bochnia</option>
                <option value="Bodzentyn">Bodzentyn</option>
                <option value="Bogatynia">Bogatynia</option>
                <option value="Boguszow-Gorce">Boguszow-Gorce</option>
                <option value="Bojanowo">Bojanowo</option>
                <option value="Boleslawiec">Boleslawiec</option>
                <option value="Bolkow">Bolkow</option>
                <option value="Braniewo">Braniewo</option>
                <option value="Bransk">Bransk</option>
                <option value="Brodnica">Brodnica</option>
                <option value="Brok">Brok</option>
                <option value="Brusy">Brusy</option>
                <option value="Brwinow">Brwinow</option>
                <option value="Brzesko">Brzesko</option>
                <option value="Brzeszcze">Brzeszcze</option>
                <option value="Brzeziny">Brzeziny</option>
                <option value="Brzozow">Brzozow</option>
                <option value="Bukowno">Bukowno</option>
                <option value="Bychawa">Bychawa</option>
                <option value="Byczyna">Byczyna</option>
                <option value="Bydgoszcz">Bydgoszcz</option>
                <option value="Bytom">Bytom</option>
                <option value="Bytow">Bytow</option>
                <option value="Cedynia">Cedynia</option>
                <option value="Chelm">Chelm</option>
                <option value="Chelmek">Chelmek</option>
                <option value="Chelmno">Chelmno</option>
                <option value="Chelmza">Chelmza</option>
                <option value="Checiny">Checiny</option>
                <option value="Chocianow">Chocianow</option>
                <option value="Chociwel">Chociwel</option>
                <option value="Chodecz">Chodecz</option>
                <option value="Chodziez">Chodziez</option>
                <option value="Chojna">Chojna</option>
                <option value="Chojnice">Chojnice</option>
                <option value="Chojnow">Chojnow</option>
                <option value="Choroszcz">Choroszcz</option>
                <option value="Chorzele">Chorzele</option>
                <option value="Chorzow">Chorzow</option>
                <option value="Choszczno">Choszczno</option>
                <option value="Chrzanow">Chrzanow</option>
                <option value="Ciechanowiec">Ciechanowiec</option>
                <option value="Ciechanow">Ciechanow</option>
                <option value="Ciechocinek">Ciechocinek</option>
                <option value="Cieszanow">Cieszanow</option>
                <option value="Cieszyn">Cieszyn</option>
                <option value="Ciezkowice">Ciezkowice</option>
                <option value="Cybinka">Cybinka</option>
                <option value="Czaplinek">Czaplinek</option>
                <option value="Czarne">Czarne</option>
                <option value="Czarnkow">Czarnkow</option>
                <option value="Czchow">Czchow</option>
                <option value="Czechowice-Dziedzice">Czechowice-Dziedzice</option>
                <option value="Czeladz">Czeladz</option>
                <option value="Czempin">Czempin</option>
                <option value="Czerniejewo">Czerniejewo</option>
                <option value="Czersk">Czersk</option>
                <option value="Czerwiensk">Czerwiensk</option>
                <option value="Czerwionka-Leszczyny">Czerwionka-Leszczyny</option>
                <option value="Czestochowa">Czestochowa</option>
                <option value="Czlopa">Czlopa</option>
                <option value="Czluchow">Czluchow</option>
                <option value="Cmielow">Cmielow</option>
                <option value="Darlowo">Darlowo</option>
                <option value="Dabie">Dabie</option>
                <option value="Debrzno">Debrzno</option>
                <option value="Debica">Debica</option>
                <option value="Deblin">Deblin</option>
                <option value="Debno">Debno</option>
                <option value="Dobczyce">Dobczyce</option>
                <option value="Dobiegniew">Dobiegniew</option>
                <option value="Dobrodzien">Dobrodzien</option>
                <option value="Dobrzany">Dobrzany</option>
                <option value="Dolsk">Dolsk</option>
                <option value="Drawno">Drawno</option>
                <option value="Drezdenko">Drezdenko</option>
                <option value="Drobin">Drobin</option>
                <option value="Dukla">Dukla</option>
                <option value="Dynow">Dynow</option>
                <option value="Dzialdowo">Dzialdowo</option>
                <option value="Dzialoszyce">Dzialoszyce</option>
                <option value="Dzialoszyn">Dzialoszyn</option>
                <option value="Dzierzgon">Dzierzgon</option>
                <option value="Dzierzoniow">Dzierzoniow</option>
                <option value="Elblag">Elblag</option>
                <option value="Elk">Elk</option>
                <option value="Frampol">Frampol</option>
                <option value="Frombork">Frombork</option>
                <option value="Garwolin">Garwolin</option>
                <option value="Gabin">Gabin</option>
                <option value="Gdansk">Gdansk</option>
                <option value="Gdynia">Gdynia</option>
                <option value="Gizycko">Gizycko</option>
                <option value="Glinojeck">Glinojeck</option>
                <option value="Gliwice">Gliwice</option>
                <option value="Glogow">Glogow</option>
                <option value="Glogowek">Glogowek</option>
                <option value="Glowno">Glowno</option>
                <option value="Glubczyce">Glubczyce</option>
                <option value="Glucholazy">Glucholazy</option>
                <option value="Gluszyca">Gluszyca</option>
                <option value="Gniewkowo">Gniewkowo</option>
                <option value="Gniezno">Gniezno</option>
                <option value="Gogolin">Gogolin</option>
                <option value="Golczewo">Golczewo</option>
                <option value="Goleniow">Goleniow</option>
                <option value="Golina">Golina</option>
                <option value="Golub-Dobrzyn">Golub-Dobrzyn</option>
                <option value="Golancz">Golancz</option>
                <option value="Goldap">Goldap</option>
                <option value="Goniadz">Goniadz</option>
                <option value="Gorlice">Gorlice</option>
                <option value="Gostynin">Gostynin</option>
                <option value="Gostyn">Gostyn</option>
                <option value="Gozdnica">Gozdnica</option>
                <option value="Gorzno">Gorzno</option>
                <option value="Grajewo">Grajewo</option>
                <option value="Grodkow">Grodkow</option>
                <option value="Grojec">Grojec</option>
                <option value="Grudziadz">Grudziadz</option>
                <option value="Grybow">Grybow</option>
                <option value="Gryfice">Gryfice</option>
                <option value="Gryfino">Gryfino</option>
                <option value="Gubin">Gubin</option>
                <option value="Hajnowka">Hajnowka</option>
                <option value="Hrubieszow">Hrubieszow</option>
                <option value="Ilawa">Ilawa</option>
                <option value="Ilowa">Ilowa</option>
                <option value="Ilza">Ilza</option>
                <option value="Imielin">Imielin</option>
                <option value="Inowroclaw">Inowroclaw</option>
                <option value="Insko">Insko</option>
                <option value="Janikowo">Janikowo</option>
                <option value="Jarocin">Jarocin</option>
                <option value="Jaroslaw">Jaroslaw</option>
                <option value="Jaslo">Jaslo</option>
                <option value="Jastarnia">Jastarnia</option>
                <option value="Jastrowie">Jastrowie</option>
                <option value="Jaworzno">Jaworzno</option>
                <option value="Jedlicze">Jedlicze</option>
                <option value="Jedwabne">Jedwabne</option>
                <option value="Jelcz-Laskowice">Jelcz-Laskowice</option>
                <option value="Jeziorany">Jeziorany</option>
                <option value="Jedrzejow">Jedrzejow</option>
                <option value="Jordanow">Jordanow</option>
                <option value="Jutrosin">Jutrosin</option>
                <option value="Kalety">Kalety</option>
                <option value="Kalisz">Kalisz</option>
                <option value="Kaluszyn">Kaluszyn</option>
                <option value="Kamiensk">Kamiensk</option>
                <option value="Kanczuga">Kanczuga</option>
                <option value="Karczew">Karczew</option>
                <option value="Kargowa">Kargowa</option>
                <option value="Karlino">Karlino</option>
                <option value="Karpacz">Karpacz</option>
                <option value="Kartuzy">Kartuzy</option>
                <option value="Katowice">Katowice</option>
                <option value="Kcynia">Kcynia</option>
                <option value="Kedzierzyn-Kozle">Kedzierzyn-Kozle</option>
                <option value="Kepice">Kepice</option>
                <option value="Kepno">Kepno</option>
                <option value="Ketrzyn">Ketrzyn</option>
                <option value="Kety">Kety</option>
                <option value="Kielce">Kielce</option>
                <option value="Kietrz">Kietrz</option>
                <option value="Kisielice">Kisielice</option>
                <option value="Kleczew">Kleczew</option>
                <option value="Kleszczele">Kleszczele</option>
                <option value="Kluczbork">Kluczbork</option>
                <option value="Klecko">Klecko</option>
                <option value="Klobuck">Klobuck</option>
                <option value="Klodawa">Klodawa</option>
                <option value="Klodzko">Klodzko</option>
                <option value="Knurow">Knurow</option>
                <option value="Knyszyn">Knyszyn</option>
                <option value="Kobylin">Kobylin</option>
                <option value="Kobylka">Kobylka</option>
                <option value="Kock">Kock</option>
                <option value="Kolbuszowa">Kolbuszowa</option>
                <option value="Kolno">Kolno</option>
                <option value="Kolonowskie">Kolonowskie</option>
                <option value="Koluszki">Koluszki</option>
                <option value="Kolobrzeg">Kolobrzeg</option>
                <option value="Koniecpol">Koniecpol</option>
                <option value="Konin">Konin</option>
                <option value="Konstancin-Jeziorna">Konstancin-Jeziorna</option>
                <option value="Konskie">Konskie</option>
                <option value="Korfantow">Korfantow</option>
                <option value="Koronowo">Koronowo</option>
                <option value="Korsze">Korsze</option>
                <option value="Kostrzyn">Kostrzyn</option>
                <option value="Kostrzyn">Kostrzyn</option>
                <option value="Koszalin">Koszalin</option>
                <option value="Koscian">Koscian</option>
                <option value="Koscierzyna">Koscierzyna</option>
                <option value="Kowary">Kowary</option>
                <option value="Kozienice">Kozienice</option>
                <option value="Kozuchow">Kozuchow</option>
                <option value="Kornik">Kornik</option>
                <option value="Krajenka">Krajenka</option>
                <option value="Krakow">Krakow</option>
                <option value="Krapkowice">Krapkowice</option>
                <option value="Krasnobrod">Krasnobrod</option>
                <option value="Krasnystaw">Krasnystaw</option>
                <option value="Krasnik">Krasnik</option>
                <option value="Krobia">Krobia</option>
                <option value="Krosno">Krosno</option>
                <option value="Krosniewice">Krosniewice</option>
                <option value="Krotoszyn">Krotoszyn</option>
                <option value="Kruszwica">Kruszwica</option>
                <option value="Krzepice">Krzepice</option>
                <option value="Krzeszowice">Krzeszowice</option>
                <option value="Krzywin">Krzywin</option>
                <option value="Kunow">Kunow</option>
                <option value="Kutno">Kutno</option>
                <option value="Kwidzyn">Kwidzyn</option>
                <option value="Legionowo">Legionowo</option>
                <option value="Legnica">Legnica</option>
                <option value="Lesko">Lesko</option>
                <option value="Leszno">Leszno</option>
                <option value="Lesna">Lesna</option>
                <option value="Lesnica">Lesnica</option>
                <option value="Lezajsk">Lezajsk</option>
                <option value="Lebork">Lebork</option>
                <option value="Ledziny">Ledziny</option>
                <option value="Libiaz">Libiaz</option>
                <option value="Lidzbark">Lidzbark</option>
                <option value="Limanowa">Limanowa</option>
                <option value="Lipiany">Lipiany</option>
                <option value="Lipno">Lipno</option>
                <option value="Lipsk">Lipsk</option>
                <option value="Lipsko">Lipsko</option>
                <option value="Lubaczow">Lubaczow</option>
                <option value="Lubartow">Lubartow</option>
                <option value="Lubawa">Lubawa</option>
                <option value="Lubawka">Lubawka</option>
                <option value="Lubin">Lubin</option>
                <option value="Lublin">Lublin</option>
                <option value="Lubliniec">Lubliniec</option>
                <option value="Lubniewice">Lubniewice</option>
                <option value="Lubomierz">Lubomierz</option>
                <option value="Lubon">Lubon</option>
                <option value="Lubraniec">Lubraniec</option>
                <option value="Lubsko">Lubsko</option>
                <option value="Lwowek">Lwowek</option>
                <option value="Labiszyn">Labiszyn</option>
                <option value="Lancut">Lancut</option>
                <option value="Lapy">Lapy</option>
                <option value="Lasin">Lasin</option>
                <option value="Lask">Lask</option>
                <option value="Laskarzew">Laskarzew</option>
                <option value="Lazy">Lazy</option>
                <option value="Leba">Leba</option>
                <option value="Leczna">Leczna</option>
                <option value="Leczyca">Leczyca</option>
                <option value="Leknica">Leknica</option>
                <option value="Lobez">Lobez</option>
                <option value="Lobzenica">Lobzenica</option>
                <option value="Lochow">Lochow</option>
                <option value="Lomianki">Lomianki</option>
                <option value="Lomza">Lomza</option>
                <option value="Losice">Losice</option>
                <option value="Lowicz">Lowicz</option>
                <option value="Lodz">Lodz</option>
                <option value="Lukow">Lukow</option>
                <option value="Malbork">Malbork</option>
                <option value="Malogoszcz">Malogoszcz</option>
                <option value="Malomice">Malomice</option>
                <option value="Margonin">Margonin</option>
                <option value="Marki">Marki</option>
                <option value="Maszewo">Maszewo</option>
                <option value="Miastko">Miastko</option>
                <option value="Miechow">Miechow</option>
                <option value="Mielec">Mielec</option>
                <option value="Mieroszow">Mieroszow</option>
                <option value="Mieszkowice">Mieszkowice</option>
                <option value="Miedzyborz">Miedzyborz</option>
                <option value="Miedzychod">Miedzychod</option>
                <option value="Miedzylesie">Miedzylesie</option>
                <option value="Miedzylesie">Miedzylesie</option>
                <option value="Miedzyrzecz">Miedzyrzecz</option>
                <option value="Miedzyzdroje">Miedzyzdroje</option>
                <option value="Mikolajki">Mikolajki</option>
                <option value="Mikolow">Mikolow</option>
                <option value="Mikstat">Mikstat</option>
                <option value="Milanowek">Milanowek</option>
                <option value="Milicz">Milicz</option>
                <option value="Milakowo">Milakowo</option>
                <option value="Milomlyn">Milomlyn</option>
                <option value="Miloslaw">Miloslaw</option>
                <option value="Miroslawiec">Miroslawiec</option>
                <option value="Mirsk">Mirsk</option>
                <option value="Mlawa">Mlawa</option>
                <option value="Mlynary">Mlynary</option>
                <option value="Mogielnica">Mogielnica</option>
                <option value="Mogilno">Mogilno</option>
                <option value="Monki">Monki</option>
                <option value="Morag">Morag</option>
                <option value="Mordy">Mordy</option>
                <option value="Moryn">Moryn</option>
                <option value="Mosina">Mosina</option>
                <option value="Mragowo">Mragowo</option>
                <option value="Mrocza">Mrocza</option>
                <option value="Mszczonow">Mszczonow</option>
                <option value="Muszyna">Muszyna</option>
                <option value="Myslowice">Myslowice</option>
                <option value="Myszkow">Myszkow</option>
                <option value="Myszyniec">Myszyniec</option>
                <option value="Myslenice">Myslenice</option>
                <option value="Mysliborz">Mysliborz</option>
                <option value="Naleczow">Naleczow</option>
                <option value="Namyslow">Namyslow</option>
                <option value="Narol">Narol</option>
                <option value="Nasielsk">Nasielsk</option>
                <option value="Nekla">Nekla</option>
                <option value="Nidzica">Nidzica</option>
                <option value="Niemcza">Niemcza</option>
                <option value="Niemodlin">Niemodlin</option>
                <option value="Niepolomice">Niepolomice</option>
                <option value="Nieszawa">Nieszawa</option>
                <option value="Nisko">Nisko</option>
                <option value="Nowe">Nowe</option>
                <option value="Nowogrodziec">Nowogrodziec</option>
                <option value="Nysa">Nysa</option>
                <option value="Oborniki">Oborniki</option>
                <option value="Obrzycko">Obrzycko</option>
                <option value="Odolanow">Odolanow</option>
                <option value="Ogrodzieniec">Ogrodzieniec</option>
                <option value="Okonek">Okonek</option>
                <option value="Olecko">Olecko</option>
                <option value="Olesno">Olesno</option>
                <option value="Oleszyce">Oleszyce</option>
                <option value="Olesnica">Olesnica</option>
                <option value="Olkusz">Olkusz</option>
                <option value="Olsztyn">Olsztyn</option>
                <option value="Olsztynek">Olsztynek</option>
                <option value="Olawa">Olawa</option>
                <option value="Opalenica">Opalenica</option>
                <option value="Opatow">Opatow</option>
                <option value="Opoczno">Opoczno</option>
                <option value="Opole">Opole</option>
                <option value="Orneta">Orneta</option>
                <option value="Orzesze">Orzesze</option>
                <option value="Orzysz">Orzysz</option>
                <option value="Osieczna">Osieczna</option>
                <option value="Ostroleka">Ostroleka</option>
                <option value="Ostrorog">Ostrorog</option>
                <option value="Ostroda">Ostroda</option>
                <option value="Ostrzeszow">Ostrzeszow</option>
                <option value="Ostrzeszow">Ostrzeszow</option>
                <option value="Oswiecim">Oswiecim</option>
                <option value="Otmuchow">Otmuchow</option>
                <option value="Otwock">Otwock</option>
                <option value="Ozimek">Ozimek</option>
                <option value="Ozorkow">Ozorkow</option>
                <option value="Ozarow">Ozarow</option>
                <option value="Pabianice">Pabianice</option>
                <option value="Paczkow">Paczkow</option>
                <option value="Pajeczno">Pajeczno</option>
                <option value="Pakosc">Pakosc</option>
                <option value="Parczew">Parczew</option>
                <option value="Paslek">Paslek</option>
                <option value="Pasym">Pasym</option>
                <option value="Pelplin">Pelplin</option>
                <option value="Pelczyce">Pelczyce</option>
                <option value="Piaseczno">Piaseczno</option>
                <option value="Piastow">Piastow</option>
                <option value="Piechowice">Piechowice</option>
                <option value="Pieniezno">Pieniezno</option>
                <option value="Piensk">Piensk</option>
                <option value="Pieszyce">Pieszyce</option>
                <option value="Pilica">Pilica</option>
                <option value="Pilzno">Pilzno</option>
                <option value="Pinczow">Pinczow</option>
                <option value="Pionki">Pionki</option>
                <option value="Pisz">Pisz</option>
                <option value="Pleszew">Pleszew</option>
                <option value="Plock">Plock</option>
                <option value="Plonsk">Plonsk</option>
                <option value="Ploty">Ploty</option>
                <option value="Pniewy">Pniewy</option>
                <option value="Pobiedziska">Pobiedziska</option>
                <option value="Poddebice">Poddebice</option>
                <option value="Pogorzela">Pogorzela</option>
                <option value="Polanow">Polanow</option>
                <option value="Police">Police</option>
                <option value="Polkowice">Polkowice</option>
                <option value="Polaniec">Polaniec</option>
                <option value="Poniatowa">Poniatowa</option>
                <option value="Poniec">Poniec</option>
                <option value="Poreba">Poreba</option>
                <option value="Poznan">Poznan</option>
                <option value="Prabuty">Prabuty</option>
                <option value="Praszka">Praszka</option>
                <option value="Prochowice">Prochowice</option>
                <option value="Proszowice">Proszowice</option>
                <option value="Prudnik">Prudnik</option>
                <option value="Prusice">Prusice</option>
                <option value="Pruszkow">Pruszkow</option>
                <option value="Przasnysz">Przasnysz</option>
                <option value="Przedborz">Przedborz</option>
                <option value="Przedecz">Przedecz</option>
                <option value="Przemkow">Przemkow</option>
                <option value="Przemysl">Przemysl</option>
                <option value="Przeworsk">Przeworsk</option>
                <option value="Przysucha">Przysucha</option>
                <option value="Pszczyna">Pszczyna</option>
                <option value="Pszow">Pszow</option>
                <option value="Puck">Puck</option>
                <option value="Pulawy">Pulawy</option>
                <option value="Pultusk">Pultusk</option>
                <option value="Puszczykowo">Puszczykowo</option>
                <option value="Pyrzyce">Pyrzyce</option>
                <option value="Pyskowice">Pyskowice</option>
                <option value="Pyzdry">Pyzdry</option>
                <option value="Rabka">Rabka</option>
                <option value="Raciaz">Raciaz</option>
                <option value="Raciborz">Raciborz</option>
                <option value="Radkow">Radkow</option>
                <option value="Radlin">Radlin</option>
                <option value="Radom">Radom</option>
                <option value="Radomsko">Radomsko</option>
                <option value="Radymno">Radymno</option>
                <option value="Radziejow">Radziejow</option>
                <option value="Radzionkow">Radzionkow</option>
                <option value="Radzymin">Radzymin</option>
                <option value="Rajgrod">Rajgrod</option>
                <option value="Rakoniewice">Rakoniewice</option>
                <option value="Raszkow">Raszkow</option>
                <option value="Rawicz">Rawicz</option>
                <option value="Recz">Recz</option>
                <option value="Resko">Resko</option>
                <option value="Reszel">Reszel</option>
                <option value="Rogozno">Rogozno</option>
                <option value="Ropczyce">Ropczyce</option>
                <option value="Rozan">Rozan</option>
                <option value="Ruciane-Nida">Ruciane-Nida</option>
                <option value="Rumia">Rumia</option>
                <option value="Rybnik">Rybnik</option>
                <option value="Rychwal">Rychwal</option>
                <option value="Rydultowy">Rydultowy</option>
                <option value="Rydzyna">Rydzyna</option>
                <option value="Ryki">Ryki</option>
                <option value="Rymanow">Rymanow</option>
                <option value="Ryn">Ryn</option>
                <option value="Rypin">Rypin</option>
                <option value="Rzepin">Rzepin</option>
                <option value="Rzeszow">Rzeszow</option>
                <option value="Sandomierz">Sandomierz</option>
                <option value="Sanok">Sanok</option>
                <option value="Sejny">Sejny</option>
                <option value="Serock">Serock</option>
                <option value="Sedziszow">Sedziszow</option>
                <option value="Sepopol">Sepopol</option>
                <option value="Sianow">Sianow</option>
                <option value="Siechnice">Siechnice</option>
                <option value="Siedlce">Siedlce</option>
                <option value="Siemiatycze">Siemiatycze</option>
                <option value="Sieniawa">Sieniawa</option>
                <option value="Sieradz">Sieradz</option>
                <option value="Sierakow">Sierakow</option>
                <option value="Sierpc">Sierpc</option>
                <option value="Siewierz">Siewierz</option>
                <option value="Skalbmierz">Skalbmierz</option>
                <option value="Skarszewy">Skarszewy</option>
                <option value="Skarzysko-Kamienna">Skarzysko-Kamienna</option>
                <option value="Skawina">Skawina</option>
                <option value="Skepe">Skepe</option>
                <option value="Skierniewice">Skierniewice</option>
                <option value="Skoczow">Skoczow</option>
                <option value="Skorcz">Skorcz</option>
                <option value="Skwierzyna">Skwierzyna</option>
                <option value="Slawkow">Slawkow</option>
                <option value="Slawno">Slawno</option>
                <option value="Slomniki">Slomniki</option>
                <option value="Slubice">Slubice</option>
                <option value="Slupca">Slupca</option>
                <option value="Slupsk">Slupsk</option>
                <option value="Sobotka">Sobotka</option>
                <option value="Sochaczew">Sochaczew</option>
                <option value="Sokolka">Sokolka</option>
                <option value="Sompolno">Sompolno</option>
                <option value="Sopot">Sopot</option>
                <option value="Sosnowiec">Sosnowiec</option>
                <option value="Sosnicowice">Sosnicowice</option>
                <option value="Starachowice">Starachowice</option>
                <option value="Staszow">Staszow</option>
                <option value="Stawiski">Stawiski</option>
                <option value="Stawiszyn">Stawiszyn</option>
                <option value="Staporkow">Staporkow</option>
                <option value="Steszew">Steszew</option>
                <option value="Strykow">Strykow</option>
                <option value="Strzegom">Strzegom</option>
                <option value="Strzelin">Strzelin</option>
                <option value="Strzelno">Strzelno</option>
                <option value="Strzyzow">Strzyzow</option>
                <option value="Suchan">Suchan</option>
                <option value="Suchedniow">Suchedniow</option>
                <option value="Suchowola">Suchowola</option>
                <option value="Sulechow">Sulechow</option>
                <option value="Sulejow">Sulejow</option>
                <option value="Sulejowek">Sulejowek</option>
                <option value="Sulecin">Sulecin</option>
                <option value="Sulmierzyce">Sulmierzyce</option>
                <option value="Sulkowice">Sulkowice</option>
                <option value="Suprasl">Suprasl</option>
                <option value="Suraz">Suraz</option>
                <option value="Susz">Susz</option>
                <option value="Susz">Susz</option>
                <option value="Suwalki">Suwalki</option>
                <option value="Swarzedz">Swarzedz</option>
                <option value="Sycow">Sycow</option>
                <option value="Szadek">Szadek</option>
                <option value="Szamocin">Szamocin</option>
                <option value="Szamotuly">Szamotuly</option>
                <option value="Szczawnica">Szczawnica</option>
                <option value="Szczebrzeszyn">Szczebrzeszyn</option>
                <option value="Szczecin">Szczecin</option>
                <option value="Szczecinek">Szczecinek</option>
                <option value="Szczekociny">Szczekociny</option>
                <option value="Szczyrk">Szczyrk</option>
                <option value="Szczytna">Szczytna</option>
                <option value="Szczytno">Szczytno</option>
                <option value="Szlichtyngowa">Szlichtyngowa</option>
                <option value="Szprotawa">Szprotawa</option>
                <option value="Sztum">Sztum</option>
                <option value="Szubin">Szubin</option>
                <option value="Szydlowiec">Szydlowiec</option>
                <option value="Scinawa">Scinawa</option>
                <option value="Slesin">Slesin</option>
                <option value="Smigiel">Smigiel</option>
                <option value="Srem">Srem</option>
                <option value="Swidnica">Swidnica</option>
                <option value="Swidnik">Swidnik</option>
                <option value="Swidwin">Swidwin</option>
                <option value="Swiebodzice">Swiebodzice</option>
                <option value="Swiebodzin">Swiebodzin</option>
                <option value="Swiecie">Swiecie</option>
                <option value="Swierzawa">Swierzawa</option>
                <option value="Swietochlowice">Swietochlowice</option>
                <option value="Swinoujscie">Swinoujscie</option>
                <option value="Tarnobrzeg">Tarnobrzeg</option>
                <option value="Tarnogrod">Tarnogrod</option>
                <option value="Tarnow">Tarnow</option>
                <option value="Tczew">Tczew</option>
                <option value="Terespol">Terespol</option>
                <option value="Tolkmicko">Tolkmicko</option>
                <option value="Torun">Torun</option>
                <option value="Torzym">Torzym</option>
                <option value="Toszek">Toszek</option>
                <option value="Trzcianka">Trzcianka</option>
                <option value="Trzciel">Trzciel</option>
                <option value="Trzebiatow">Trzebiatow</option>
                <option value="Trzebinia">Trzebinia</option>
                <option value="Trzebnica">Trzebnica</option>
                <option value="Trzemeszno">Trzemeszno</option>
                <option value="Tuchola">Tuchola</option>
                <option value="Tuchow">Tuchow</option>
                <option value="Tuczno">Tuczno</option>
                <option value="Tuliszkow">Tuliszkow</option>
                <option value="Turek">Turek</option>
                <option value="Tuszyn">Tuszyn</option>
                <option value="Twardogora">Twardogora</option>
                <option value="Tychy">Tychy</option>
                <option value="Tyczyn">Tyczyn</option>
                <option value="Tykocin">Tykocin</option>
                <option value="Ujazd">Ujazd</option>
                <option value="Ulanow">Ulanow</option>
                <option value="Uniejow">Uniejow</option>
                <option value="Ustka">Ustka</option>
                <option value="Ustron">Ustron</option>
                <option value="Wadowice">Wadowice</option>
                <option value="Walbrzych">Walbrzych</option>
                <option value="Walcz">Walcz</option>
                <option value="Warka">Warka</option>
                <option value="Warszawa">Warszawa</option>
                <option value="Warta">Warta</option>
                <option value="Wasilkow">Wasilkow</option>
                <option value="Wabrzezno">Wabrzezno</option>
                <option value="Wachock">Wachock</option>
                <option value="Wagrowiec">Wagrowiec</option>
                <option value="Wejherowo">Wejherowo</option>
                <option value="Wegliniec">Wegliniec</option>
                <option value="Wegorzewo">Wegorzewo</option>
                <option value="Wegorzyno">Wegorzyno</option>
                <option value="Wegrow">Wegrow</option>
                <option value="Wiazow">Wiazow</option>
                <option value="Wielen">Wielen</option>
                <option value="Wielichowo">Wielichowo</option>
                <option value="Wieliczka">Wieliczka</option>
                <option value="Wielun">Wielun</option>
                <option value="Wieruszow">Wieruszow</option>
                <option value="Wiecbork">Wiecbork</option>
                <option value="Wilamowice">Wilamowice</option>
                <option value="Wisla">Wisla</option>
                <option value="Witkowo">Witkowo</option>
                <option value="Witnica">Witnica</option>
                <option value="Wlen">Wlen</option>
                <option value="Wladyslawowo">Wladyslawowo</option>
                <option value="Wloclawek">Wloclawek</option>
                <option value="Wlodawa">Wlodawa</option>
                <option value="Wloszczowa">Wloszczowa</option>
                <option value="Wojcieszow">Wojcieszow</option>
                <option value="Wojkowice">Wojkowice</option>
                <option value="Wolbrom">Wolbrom</option>
                <option value="Wolsztyn">Wolsztyn</option>
                <option value="Wolczyn">Wolczyn</option>
                <option value="Wolomin">Wolomin</option>
                <option value="Wolow">Wolow</option>
                <option value="Wozniki">Wozniki</option>
                <option value="Wroclaw">Wroclaw</option>
                <option value="Wronki">Wronki</option>
                <option value="Wrzesnia">Wrzesnia</option>
                <option value="Wschowa">Wschowa</option>
                <option value="Wyrzysk">Wyrzysk</option>
                <option value="Wyszkow">Wyszkow</option>
                <option value="Wyszogrod">Wyszogrod</option>
                <option value="Wysmierzyce">Wysmierzyce</option>
                <option value="Zabludow">Zabludow</option>
                <option value="Zabrze">Zabrze</option>
                <option value="Zagorow">Zagorow</option>
                <option value="Zagorz">Zagorz</option>
                <option value="Zakopane">Zakopane</option>
                <option value="Zakroczym">Zakroczym</option>
                <option value="Zalewo">Zalewo</option>
                <option value="Zambrow">Zambrow</option>
                <option value="Zamosc">Zamosc</option>
                <option value="Zawadzkie">Zawadzkie</option>
                <option value="Zawichost">Zawichost</option>
                <option value="Zawidow">Zawidow</option>
                <option value="Zawiercie">Zawiercie</option>
                <option value="Zabki">Zabki</option>
                <option value="Zbaszynek">Zbaszynek</option>
                <option value="Zbaszyn">Zbaszyn</option>
                <option value="Zduny">Zduny</option>
                <option value="Zdzieszowice">Zdzieszowice</option>
                <option value="Zelow">Zelow</option>
                <option value="Zgierz">Zgierz</option>
                <option value="Zgorzelec">Zgorzelec</option>
                <option value="Zielonka">Zielonka</option>
                <option value="Ziebice">Ziebice</option>
                <option value="Zlocieniec">Zlocieniec</option>
                <option value="Zloczew">Zloczew</option>
                <option value="Zlotoryja">Zlotoryja</option>
                <option value="Zlotow">Zlotow</option>
                <option value="Zwolen">Zwolen</option>
                <option value="Zabno">Zabno</option>
                <option value="Zagan">Zagan</option>
                <option value="Zarki">Zarki</option>
                <option value="Zarow">Zarow</option>
                <option value="Zary">Zary</option>
                <option value="Zelechow">Zelechow</option>
                <option value="Zerkow">Zerkow</option>
                <option value="Zmigrod">Zmigrod</option>
                <option value="Znin">Znin</option>
                <option value="Zory">Zory</option>
                <option value="Zukowo">Zukowo</option>
                <option value="Zuromin">Zuromin</option>
                <option value="Zychlin">Zychlin</option>
                <option value="Zyrardow">Zyrardow</option>
                <option value="Zywiec">Zywiec</option>
            </select>
        </div>
        <div>
            <label>Email</label>
            <input type="text" name="email">
        </div>
        <div>
            <label>Password</label>
            <input type="password" name="password">
        </div>
        <button type="submit">Register</button>
    </form>

    <p>Have an account? <a href="/login">Login</a> </p>
</body>
</html>