<!doctype html>
<html>
<head>
    <title>Register page</title>
    <meta charset="ISO-8859-1">
</head>
<body>
    <h1>Register</h1>
    <% if(message.length > 0) { %> <!-- bajerek dla ejsa, ogolnie jak bedzie error w loginie to tutaj pojdzie render -->
        <div><%= message %></div>
    <% } %>

    <form action="/register" method="post" name="register-form">
        <div>
            <label>Role</label>
            <select name="role">
                <option value="student">Student</option>
                <option value="teacher">Teacher</option>
            </select>
        </div>
        <div>
            <label>Province</label>
            <select name="province" id="#prov">
                <option value="dolnoœl¹skie">dolnoœl¹skie</option>
                <option value="kujawsko-pomorskie">kujawsko-pomorskie</option>
                <option value="lubelskie">lubelskie</option>
                <option value="lubuskie">lubuskie</option>
                <option value="³ódzkie">³ódzkie</option>
                <option value="ma³opolskie">ma³opolskie</option>
                <option value="mazowieckie">mazowieckie</option>
                <option value="opolskie">opolskie</option>
                <option value="podkarpackie">podkarpackie</option>
                <option value="podlaskie">podlaskie</option>
                <option value="pomorskie">pomorskie</option>
                <option value="œl¹skie">œl¹skie</option>
                <option value="œwiêtokrzyskie">œwiêtokrzyskie</option>
                <option value="warmiñsko-mazurskie">warmiñsko-mazurskie</option>
                <option value="wielkopolskie">wielkopolskie</option>
                <option value="zachodniopomorskie">zachodniopomorskie</option>
            </select>
        </div>
        <div>
            <label>City</label>
            <select name="city">

            </select>
        </div>
        <div>
            <label>Email</label>
            <input type="text" name="email">
        </div>
        <div>
            <label>Password</label>
            <input type="password" name="password">
        </div>
        <button type="submit">Register</button>
    </form>

    <p>Have an account? <a href="/login">Login</a> </p>
    <script src="../scripts/register_cities.js"></script>
</body>
</html>