<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <% include ./partials/headStudent.ejs %>
</head>

<body class="container">

<header>
    <% include ./partials/headerStudent.ejs %>
</header>

<h1>Add an avatar:</h1>
<div>
    <p id="a" style="display: none"><%= user.local.avatar.contentType %></p>
    <p id="b" style="display: none"><%= user.local.avatar.data %></p>

<%if(user.local.avatar === undefined) {%>
    <img src="../images/defaultAvatar.png">
<%} else {%>
    <img id="image" src="">
<%}%>
</div>

<form id="imageForm" action="/upload" method="post" enctype="multipart/form-data">
    <input type="file" name="imageUploader"/>
    <div id="image-display"></div>
    <button type="submit">Upload</button>
</form>

<div id="uploader"></div>

<h1>Edit your account:</h1>

<form action="/changeaccount" method="post">
    <div>
        <label>Name</label>
        <input type="text" name="firstName">
    </div>
    <div>
        <label>Surname</label>
        <input type="text" name="surname">
    </div>
    <br/>
    <section class="round-border">

        <div>
            <button type="button" href="#collapse2" class="toggle">Change password</button>

        </div>
        <div id="collapse2" style="display:none">
            <input type="password" name="password">
        </div>
    </section>
    <br>

    <button type="submit">Change</button>
</form>

<footer>
    <% include ./partials/footer.ejs %>
</footer>
</body>
<script src="/js/jquery.min.js"></script>
<script src="../scripts/student.js"></script>
<script src="../bower_components/btoa-umd/dist/btoa-umd.min.js"></script>
</html>