<!DOCTYPE html>
<html lang="en">

<head>
    <% include ./partials/headStudent.ejs %>
    
</head>

<body class="container">


    <header>
        <% include ./partials/headerStudent.ejs %>
    </header>
    <main>
        <div class="jumbotron">
            <h1>Witaj studencie!</h1>
            <p>Tutaj znajdziesz najlepsze korepetycje! Zapisz sie na kurs już teraz!</p>
        
            <br>
            Nowości:
             <br>
            <% for(var i=0; i<news.length; i++) {%>
             
            <br>
                <%=news[i].tittle %>
            <br>
           
                <%=news[i].message %>
          
            <br>
       
            <% } %>
        </div>
    </main>


    <footer>
        <% include ./partials/footer.ejs %>
    </footer>
</body>

</html>