<!doctype html>
<html>

<head>
    <title>Home page</title>
    


        
            

    <% include ./partials/headerTeacher.ejs %>

                    


</head>

<body class="container">

    <header>
        <% include /partials/headIndex.ejs %>
    </header>
   
        <ul>
            <% for(var i=0; i<teachers.length; i++) {%>
                <li>
                    <%=teachers[i].local.email %>
                </li>
                <li>
                    <%=teachers[i].local.city %>
                </li>
            
                
                <br>
               
            
            
           
            <% } %> 
        </ul>

    </div>
</body>

</html>