<!DOCTYPE html>
<html lang="en">
<head>
    <% include /partials/headTeacher.ejs %>   
</head>
<body class="container">

 
    <header>
        <% include /partials/headerTeacher.ejs %>
    </header>
    <main>
    
    </main>

    
    <footer>
        <% include /partials/footer.ejs %>
    </footer>
</body>
</html>