<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <% include ./partials/headTeacher.ejs %>
</head>

<body class="container">


<header>
    <% include ./partials/headerTeacher.ejs %>
</header>

<h1>Add some things to your account:</h1>

<form action="/changeaccountTeacher" method="post">
    <div>
        <label>Name</label>
        <input type="text" name="firstName">
    </div>
    <div>
        <label>Surname</label>
        <input type="text" name="surname">
    </div>
    <div>
        <label>Province</label>
        <select name="province">

        </select>
    </div>

    <div>
        <label>City</label>

        <div id="citiesCheck">

        </div>
    </div>
    <section class="round-border">

        <div>
            <button type="button" href="#collapse2" class="toggle">Change password</button>

        </div>
        <div id="collapse2" style="display:none">
            <input type="password" name="password">
        </div>
    </section>
    <br>


    <button type="submit">Change</button>
</form>
<footer>
    <% include ./partials/footer.ejs %>
</footer>
</body>
<script src="/js/jquery.min.js"></script>
<script src="../scripts/teacher.js"></script>

</html>